
<!DOCTYPE html>
<html>
<head>
  <!--<script language="JavaScript" src="/public/javascripts/util.js" type="text/javascript"></script>-->
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form method="POST" onload="carrega()">
    <a>Comandos:</a>
    <select id="listadecomandos" onchange="carrega(), carregaOpcoes()">
</select>
    <br>
    <br>
    <a>Descrição do comando:<a>
       <a class="lista">Como usar e opções:<a>
    <br>
    
    <textarea rows="25" cols="60px" maxlength="500" id="descricaocomandos"></textarea> 
    <textarea rows="25" cols="100px" maxlength="500" id="descricaoopcoes" class="caixaopcoes"></textarea>
    <br>
    <br>
    <!--<input type="submit" value="OK" />-->
  </form>
  <footer class="rodape">
  <a href="https://github.com/igordeagostin" target="_blank"> 
  <img border="0" src="images/github.png" /></a>
   <a href="https://www.facebook.com/igordeagostin" target="_blank"> 
  <img border="0" src="images/facebook.png" /></a>
   <a href="https://www.linkedin.com/in/igorlopesdeagostin/" target="_blank"> 
  <img border="0" src="images/linkedin.png" /></a>
  <a href="http://blog.tecsystem.com.br/" target="_blank"> 
  <img border="0" src="images/blog.png" /></a>
</footer>
</body>
 
</html>

























<script>
var nomecomando;


var select = document.getElementById("listadecomandos");
var options = ["", "add", "bisect", "branch", "checkout", "clone", "commit", "diff", "fetch", "grep", "init", "log",
    "merge", "mv", "push", "pull", "rebase", "rm", "reset", "show", "status", "tag"];
for (var i = 0; i < options.length; i++) {
    var opt = options[i];
    var el = document.createElement("option");
    el.textContent = opt;
    el.value = opt;
    select.appendChild(el);
}

function carrega() {
    var opcao = document.getElementById('listadecomandos').value;
    for (var i = 0; i < comandos.length; i++) {
        if (comandos[i].nome === opcao) {
            nomecomando = comandos[i];
            document.getElementById('descricaocomandos').value = nomecomando.descricao;
        }
    }
}

function carregaOpcoes() {
    var opcao = document.getElementById('listadecomandos').value;
    for (var i = 0; i < comandos.length; i++) {
        if (comandos[i].nome === opcao) {
            nomecomando = comandos[i];
            document.getElementById('descricaoopcoes').value = nomecomando.opcoes;
        }
    }
}


var comandos = [
    {
        nome: 'commit',
        descricao: 'Grava as alterações feitas no repositório, é preciso que as mesmas sejam adicionadas',
        opcoes: ["--------------------------------------------------------------------------\n\n" +
            "Uso: git commit [-opção]\nExemplo: git commit -a -m \"Commit de teste\"\n\n" +
            "--------------------------------------------------------------------------" +
            "\n\nPrincipais opções:\n" +
            "-a: Adiciona todos os arquivos modificados e excluídos no commit, porém os novos arquivos não são afetados;\n" + 
            "-m: Informe uma mensagem para o commit. Ex.: git commit -m \"Mensagem\"; " + 
             "\n\n--------------------------------------------------------------------------" +
            "\n\nTodas as opções: https://git-scm.com/docs/git-commit"]
    },
    {
        nome: 'status',
        descricao: 'Exibe arquivos que foram modificados ou inseridos e que ainda não foram comitados',
        opcoes: ["--------------------------------------------------------------------------\n\n" +
            "Uso: git status [-opção]\nExemplo: git status -s b\n\n" +
            "--------------------------------------------------------------------------" +
            "\n\nPrincipais opções:\n" +
            "-s: Exibe os arquivos modificados, inseridos e excluídos em um formato simples;\n" + 
            "--ignored: Mostra os arquivos ignorados; " + 
             "\n\n--------------------------------------------------------------------------" +
            "\n\nTodas as opções: https://git-scm.com/docs/git-status"]
    },
    {
        nome: 'clone',
        descricao: 'Clona um repositório em um diretório recém criado.\nApós ser clonado é' + 
        ' necessário usar git fetch para atualizar todos os branchs e um git pull para atualizar os arquivos.',
        opcoes: ["--------------------------------------------------------------------------\n\n" +
            "Uso: git status [-opção]\nExemplo: git status -s b\n\n" +
            "--------------------------------------------------------------------------" +
            "\n\nPrincipais opções:\n" +
            "-s: Exibe os arquivos modificados, inseridos e excluídos em um formato simples;\n" + 
            "--ignored: Mostra os arquivos ignorados; " + 
             "\n\n--------------------------------------------------------------------------" +
            "\n\nTodas as opções: https://git-scm.com/docs/git-status"]
    },
    {
        nome: 'init',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'add',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'mv',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'reset',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'rm',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'bisect',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'grep',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'log',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'show',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'branch',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'checkout',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'diff',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'merge',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'rebase',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'tag',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'push',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'pull',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
    {
        nome: 'fetch',
        descricao: 'xxx',
        opcoes: ["fsdf", "D"]
    },
]
</script>