
<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form method="POST" onload="carrega()">
    <a>Comandos:</a>
    <select id="listadecomandos" onchange="carrega(), carregaOpcoes()">
</select>
    <br>
    <br>
    <a>Descrição do comando:<a>
       <a class="lista">Como usar e opções:<a>
    <br>
    
    <textarea rows="30" cols="60px" maxlength="500" id="descricaocomandos"></textarea> 
    <textarea rows="30" cols="100px" maxlength="500" id="descricaoopcoes" class="caixaopcoes"></textarea>
    <br>
    <br>
    <!--<input type="submit" value="OK" />-->
  </form>

  <a>EM DESENVOLVIMENTO...</a>
</body>

</html>
<script>
   var nomecomando;


var select = document.getElementById("listadecomandos");
var options = ["","add", "bisect", "branch", "checkout", "clone","commit", "diff", "fetch", "grep", "init", "log",
"merge", "mv", "push","pull", "rebase", "rm", "reset","show", "status", "tag"];
for (var i = 0; i < options.length; i++) {
  var opt = options[i];
  var el = document.createElement("option");
  el.textContent = opt;
  el.value = opt;
  select.appendChild(el);
}

function carrega() {
  var opcao = document.getElementById('listadecomandos').value;
  for (var i = 0; i < comandos.length; i++) {
    if (comandos[i].nome === opcao) {
      nomecomando = comandos[i];
      document.getElementById('descricaocomandos').value = nomecomando.descricao;
    }
  } 
}

function carregaOpcoes() {
  var opcao = document.getElementById('listadecomandos').value;
  for (var i = 0; i < comandos.length; i++) {
    if (comandos[i].nome === opcao) {
      nomecomando = comandos[i];
      document.getElementById('descricaoopcoes').value = nomecomando.opcoes;
    }
  }
}


var comandos = [
  {
    nome: 'commit',
    descricao: 'Grava as alterações feitas no repositório, é preciso que as mesmas sejam adicionadas',
    opcoes: ["--------------------------------------------------------------------------\n"+
    "Uso: git commit [-opção]\nExemplo: git commit -a -m \"Commit de teste\"\n"+
    "--------------------------------------------------------------------------"+
    "\nOpções:\n" +
    "-q: simplifique o resumo após o commit bem sucedido"]
  },
  {
    nome: 'status',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'clone',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'init',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'add',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'mv',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'reset',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'rm',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'bisect',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'grep',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'log',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'show',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'branch',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'checkout',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'diff',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'merge',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'rebase',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'tag',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'push',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'pull',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
  {
    nome: 'fetch',
    descricao: 'xxx',
    opcoes: ["fsdf", "D"]
  },
]

</script>