body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lista{
  margin-left: 312px;
}

.caixaopcoes{
  margin-left: 20px;
  position: absolute;
}

.descricaoopcoes{
  margin-left: 186px;
}
